html,body {
	margin: 0;
	overscroll-behavior-y: contain; /* DISABLE PULL TO REFRESH */
}
/* Main holder element */
.PlayGround {
	position: relative;
	overflow: hidden;
}
/* one elem */
.bg-elem {
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 1;
	transition: box-shadow 0.4s;
}
